.modal-dialog {
    max-width: 80%;
  }
  
  .modal-content {
    padding: 20px;
  }
  
  .modal-header {
    background-color: #007bff;
    color: #fff;
  }
  
  .modal-title {
    font-weight: bold;
  }
    