<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-header">
            <h5>Gebruiker Details</h5>
          </div>
          <div class="card-body">
            <ng-container *ngIf="user">
              <div class="mb-3">
                <strong>{{ user.fullName}}</strong> <br>
                {{ user.fullAddress }} <br>
                {{ user.postalCodeCity }} 
              </div>
              <a routerLink="/users" class="btn btn-secondary">Terug naar gebruikerslijst</a>
              <a [routerLink]="['/user-edit', user.id]"><fa-icon [icon]="faPencil" class="ms-3 text-black"></fa-icon></a>
              <a routerLink="/users"><fa-icon [icon]="faTrash" class="ms-3 text-danger" (click)="deleteUser(user.id)"></fa-icon></a>
            </ng-container>
            <ng-container *ngIf="!user">
              <p>Gebruiker niet gevonden</p>
              <a routerLink="/users" class="btn btn-secondary">Terug naar gebruikerslijst</a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  